<div class="jumbotron">
    <p>Certificate Transparency (CT) is a project that aims to improve transparency around TLS certificates, to help avoid another <a href="https://en.wikipedia.org/wiki/DigiNotar#Issuance_of_fraudulent_certificates">DigiNotar incident</a>.
    
    <p>CT is an experimental RFC, <a href="http://tools.ietf.org/html/rfc6962">RFC 6962</a>, created by Google, that will soon be supported in Google Chrome.</p>

    <p>Certificate Transparency Watch is a CT auditor: it follows all CT log servers and checks they are behaving correctly.</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">View certificates for your domain</div>
    <div class="panel-body">
        <form class="form-inline" ng-controller="ViewCertificateCtrl" role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="domain" placeholder="Enter domain">
            </div>
            <button type="submit" ng-click="submit()" class="btn btn-default">View certificates</button>
        </form>
    </div>
</div>



<table class="table">
    <thead>
        <th>Log Server</th>
    </thead>
    <tbody>
        <tr ng-repeat="logserver in logservers">
            <td><a href="#logserver/{{logserver.id}}">{{logserver.name}}</a></td>
        </tr>
    </tbody>
</table>
